@charset "utf-8";

/* ローティング仕様 ここから*/

#loading {
    position: fixed;
    top: 0;
    left: 0;    
    bottom: 0;
    right: 0;
    background: #007AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loadingBox p {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}   


  @keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1; 
    }

    80% {
      opacity: 1; 
  }
    100% {
        opacity: 0;
    }
  }

  .animationLoading {
    animation: fadeInOut 3s ease;
  }


/* ローティング仕様 ここまで*/

body {
  /* ページ全体に広がる背景画像を設定 */
  background-image: url(../images/backgroundImg_Sea.jpg);
  background-position: 50% 25%;
  background-size: 2100px 1200px;
  font-family: "Margarine", sans-serif;
  

}



.footer {
    position: relative;
    top: 800px;
    right: 30px;
    text-align: right;
    color: #000000;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    font-family: "Margarine", sans-serif;
}

.message {
  box-sizing: border-box;
  font-size: 80px;
  background-image: url(../images/fukidasi-9984-02.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; /* 絶対位置指定 */
  width: 450px; /* メッセージボックスの幅 */
  height: 200px; /* メッセージボックスの高さ */
  padding: 20px; /* テキストとボックスの余白 */
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
  font-family: "Margarine", sans-serif;
}

.top-right {
  top: 80px; /* 上からの距離 */
  left: 300px; /* 右からの距離を調整（例えば、40px） */
}  


.top-right a  {
  top: 80px; /* 上からの距離 */
  left: 300px; /* 右からの距離を調整（例えば、40px） */
  font-family: "Margarine", sans-serif;
}  


.bottom-right {
  bottom: 250px; /* 下からの距離 */
  left: 500px; /* 右からの距離 */
}

.top-left {
  top: 150px; /* 上からの距離 */
  right: 500px; /* 左からの距離 */
}

.bottom-left {
  bottom: 200px; /* 下からの距離 */
  right: 350px; /* 左からの距離 */
  font-family: "Margarine", sans-serif;
}
 


@media (max-width: 768px) {
  body {
    background-image: url(../images/Untitled\ design2.png);
    background-position: left;
    background-size: 100% 50vh; /* 幅50%、高さ75%に縮小 */
    background-repeat: no-repeat; /* 画像の繰り返しを無効化 */
    max-width: 100%;
  }


  

}